# Select the minimum chip revision to cover all possible boards.
CONFIG_ESP32P4_REV_MIN_0=y

# Flash
CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# Memory
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MEMTEST=
CONFIG_SPIRAM_IGNORE_NOTFOUND=y
CONFIG_MBEDTLS_DEFAULT_MEM_ALLOC=y
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=50768

# ULP: not fixed
CONFIG_SOC_ULP_SUPPORTED=n
CONFIG_ULP_COPROC_ENABLED=n
CONFIG_ULP_COPROC_TYPE_FSM=n

# Core Ethernet driver
CONFIG_ETH_ENABLED=y
CONFIG_LWIP_ETHERNET=y

# Internal MAC + RMII PHY
CONFIG_ETH_USE_EMAC=y        # enables internal EMAC
CONFIG_ETH_PHY_INTERFACE_RMII=y

# Clock
CONFIG_ETH_RMII_CLK_OUTPUT=y
CONFIG_ETH_RMII_CLK_OUT_GPIO=50  

# Control
CONFIG_ETH_PHY_RST_GPIO=51   # reset/power GPIO
CONFIG_ETH_MDIO_GPIO_NUM=52  # mdio
CONFIG_ETH_MDC_GPIO_NUM=31   # mdc

# PHY
CONFIG_ETH_PHY_IP101=y       # LAN87xx/KSZ8081 etc., we are using IP101
CONFIG_ETH_PHY_ADDR=1

# Disable SPI LAN
CONFIG_ETH_USE_SPI_ETHERNET=n
CONFIG_ETH_SPI_ETHERNET_W5500=n
CONFIG_ETH_SPI_ETHERNET_KSZ8851SNL=n
CONFIG_ETH_SPI_ETHERNET_DM9051=n

# Put other configuration below if needed
